.venv/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.DS_Store
/.ha_dev/*
!/.ha_dev/configuration.yaml
!/.ha_dev/automations.yaml
!/.ha_dev/scripts.yaml
!/.ha_dev/scenes.yaml